# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# Environment variables (Temporarily allowed for Cloud Run)
.env 

# Database
instance/
*.db
*.sqlite
*.sqlite3

# Uploads / comprobantes
static/comprobantes/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Importar aqui (datos sensibles)
importar_aqui/
